<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dorina Engine</title>
</head>
<body>
    <center>
        <h1>⚙ Dorina Engine ⚙</h1>
        <p><a href="/about">about</a></p>
        <form action="/submit" method="post" target="_blank">
            <input type="text" id="search_box" name="search">
            <p>Last search</p>
            <p>{{search_history}}</p>
        </form>
    </center>
    
</body>
</html>